<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plataforma de Exámenes{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Estilos base para HTMX */
        .htmx-indicator{
            display:none;
            opacity: 0;
            transition: opacity 200ms ease-in;
        }
        .htmx-request .htmx-indicator{
            display:inline;
            opacity: 1;
        }
        .htmx-request.htmx-indicator{
            display:inline;
            opacity: 1;
        }
    </style>
</head>
<body class="bg-gray-900 text-gray-100 font-sans" x-data="{ showModal: false }">

    <div id="main-content" class="min-h-screen">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    
    <script src="https://unpkg.com/alpinejs@3.13.3/dist/cdn.min.js" defer></script>

    {% block extra_js %}
    
    <script>
        // Función para obtener el cookie de CSRF
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        // Configura HTMX para que envíe el token en todas las solicitudes
        document.body.addEventListener('htmx:configRequest', function(event) {
            // Solo necesitamos el token para métodos que modifican datos
            if (['POST', 'PUT', 'PATCH', 'DELETE'].includes(event.detail.verb)) {
                event.detail.headers['X-CSRFToken'] = csrftoken;
            }
        });
    </script>
    {% endblock %}
</body>
</html>
